*{}
/**/
body {}
/**/
html {}
/**/
h1{}
/**/
h2{}
/**/
h3{}
/**/
h4{}
/**/
h5{}
/**/
h6{}
/**/
p {}
/**/
a{}

/**/
input[type='submit'], button, [arial-label] {
	cursor: pointer;
	color:	red;
}
/**/
#editForm {
	display: none;
}
/**/
table {
	font-family: Arial, sans-serif;
	border: 1px solid;
	border-collapse: collapse;
}
/**/
th {
	background-color: #f8f8f8;
	padding: 5px;
}
/**/
td {
	border: 1px solid;
	padding: 5px;
}

